/*  ----------------------------------------------------
add customizer control style
-------------------------------------------------------- */
#customize-control-clients_overlay_color,#customize-control-contact_overlay_color,#customize-control-countertitlesub_color,#customize-control-countertitlenumber_color,#customize-control-counter_number_size,#customize-control-counter_title_size,#customize-control-counter_sectioncontentcolor,#customize-control-counter_buttoncolor,#customize-control-unicons_counterfixed_image,#customize-control-unicons_counterbg_image,#customize-control-unicons_teambg_image,#customize-control-unicons_teamfixed_image,#customize-control-unicons_teambg_color,#customize-control-team_buttoncolor,#customize-control-team_sectioncontentcolor,#customize-control-team_designation_size,#customize-control-team_name_size,#customize-control-team_sectiontitlesubcolor,#customize-control-team_sectionnamedescolor,#customize-control-unicons_servicebg_color,#customize-control-unicons_servicebg_image,#customize-control-unicons_servicefixed_image,#accordion-section-link-button{display: block !important;}
#customize-control-client_onoff,#customize-control-client_title,#customize-control-service_block_title,#customize-control-service_block_subtitle,#customize-control-serviceblock_color,#customize-control-our_counter_onoff,#customize-control-our_counter_title,#customize-control-our_counter_subtitle,#customize-control-unicons_counter_content_disable,#customize-control-unicons_counter_content,#customize-control-counter_link_title,#customize-control-unicons_countersetup_bgcolor,#customize-control-unicons_countersetup_textcolor{display: block !important;}

#customize-control-unicons_contactfixed_image,#customize-control-unicons_contactbg_image,#customize-control-contact_form_bgcolor,#customize-control-contact_form_textcolor,#customize-control-contact_textcolor,#customize-control-unicons_clientsfixed_image,#customize-control-unicons_clientsbg_image,#customize-control-unicons_clientsbg_color,#customize-control-client_sectiontitlesubcolor,#customize-control-client_subtitle,#customize-control-unicons_counterfixed_image,#customize-control-unicons_counterbg_image,#customize-control-counter_buttoncolor,#customize-control-serviceblock_sectiontitlesubcolor,#customize-control-serviceblock_title_size,#customize-control-serviceblock_subtitle_size,#customize-control-countertitlesub_color,#customize-control-our_team_onoff,#customize-control-our_team_title,#customize-control-our_team_subtitle,#customize-control-unicons_team_content_disable,#customize-control-unicons_team_content,#customize-control-unicons_teamsetup_texturl {display: block !important;}

#customize-control-unicons_teampagebg_color,#customize-control-teampage_designation_size,#customize-control-teampage_name_size,#customize-control-teampage_sectionnamedescolor,#customize-control-teampage_sectiontitlesubcolor{display: block !important;}


li#accordion-section-about_unicons_settings h3.accordion-section-title:hover { background-color: #73baae !important; color: #fff !important; }
li#accordion-section-about_unicons_settings h3.accordion-section-title::after { color: #fff !important; }
/* Upsell button CSS */
#sub-accordion-section-about_unicons_settings a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc800+0,8fc800+100;Green+Flat+%232 */
	background: #73baae;
	color: #fff;
	display: block;
	margin: 5px 0 0;
	padding: 5px 0;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	padding: 8px 0;
}

#sub-accordion-section-about_unicons_settings a:hover {
	color: #ffffff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
	background:#00c2ff;
}

#sub-accordion-section-about_unicons_settings .kirki-reset-section{display: none;}

#customize-control-unicons_view_link_pro a {background: rgba(234, 46, 73, 0.81);}
#customize-control-unicons_view_link_pro a :hover{background: rgb(234, 46, 73);}

.customize-control-kirki-sortable ul.ui-sortable li {
  padding: 5px 10px;
  border: 1px solid #333;
  background: #fff; }
  .customize-control-kirki-sortable ul.ui-sortable li .dashicons.dashicons-menu {
    float: right; }
  .customize-control-kirki-sortable ul.ui-sortable li .dashicons.visibility {
    margin-right: 10px; }
  .customize-control-kirki-sortable ul.ui-sortable li.invisible {
    color: #aaa;
    border: 1px dashed #aaa; }
    .customize-control-kirki-sortable ul.ui-sortable li.invisible .dashicons.visibility {
      color: #aaa; }
